<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <style>
        .box {
            width: 200px;
            height: 300px;
            background-color: tomato;
            margin: 100px auto;
        }
    </style>
</head>
<body>

<div class="box">
    <h1><%=p.name%></h1>
    <h3><%=p.age%></h3>
    <h5><%=p.address%></h5>
</div>


</body>
</html>